/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.flat {
    display: table-cell;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 50px 0px 50px;
    background-color: #E0B645;
  }

.buttongroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 50px 0px 50px;
  }

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 50px 0px 50px;
}